html{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #3d1391;
}

h2{
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
    background-color: #5971b8;
}

ul, ol, dl, p{
    font-size: 1,5rem;
    color: #3a1d42;

}


li, p{
    line-height: 1.5;
}

/* estilos para las listas de descripciones*/

dd, dt{
    line-height: 1.5;
}

dt{
    font-weight: bold;
}

dd {
    margin-bottom: 1.5rem;
}